<h1>Character Info</h1>

<ul>
    <li><%=  @character.name %></li>
    <li><%=  @character.owner %></li>
    <li><%=  @character.race %></li>
    <li><%=  @character.class %></li>
    <li><%=  @character.level %></li>
    
</ul>
<%= link_to "New Character", new_character_path %>

